/*barra munu*/
*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

header{
background-color: #fff;
height: 5em;
}
.title{
  color: #bbbb;
  padding-left: 3%;
  padding-top: 3%;
 /* outline: 1px solid red;*/
}
input{
  width: 40%;
  height: 3em;
}
.search{
  float: right;
  text-align: right;
  padding-right: 10%;
 /* outline: 1px solid red;*/
}
/*section banner*/
.logo{
  height: 4em;
  background-image: url(../img/logo.png);
  background-repeat: no-repeat;
  background-size: 100% 90%;
}
.banner{
  background-color:#424242; 
}
#banner{
  background-image: url(../img/banner.jpg);
  background-repeat: no-repeat;
  background-size: 75% 100%;
}
.icono{
  width: 5%;
  background-image: url(../img/icono.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2.5%;
  margin-left: 23%;
  margin-top: 16%;
 /* outline: 1px solid red;*/
}
.boxHero{
  float: right;
  text-align: left;
  color: #fff;
  padding-left: 35%;
}
h1{
  font-size: 2.5em;
  font-weight: bolder;
  padding-left: 3%;
  padding-bottom: 3%;
}
hr{
  width: 70%;
  height: 2px;
  color: #aaa;
}
button.all{
  width: 4.5em;
  height: 2.5em;
  color: green;
  border:2px solid green;
  border-radius: 5px;
  background-color:transparent; 
  padding: 0.5em;
}
button.trailer,button.ticket, button.ticket2{
  display: block;
  color: #fff;
  width: 12em;
  height: 3em;
  border:none;
  border-radius: 5px;
  margin: 2%;
  background-color: #DEBF16; 
}
button.ticket, button.ticket2{
  background-color: #BF7D14; 
}
button.ticket2{
  width: 15em;
}

.paragraph{
  font-size: 0.8em;
  margin: 0;
 /* outline: 1px solid red;*/
}

/*section images and video*/
.images{
  width: 100%;
  height: 18em;
  background-color: #DEBF16;
}
.imgs{
width: 15%;
height: 15%;
float: left;
margin: 0.5%;
}
img{
  width: 100%;
  height: 15em;
}
.video{
  padding: 0;
/*  outline: 1px solid red;*/
}
iframe{
  width: 100%;
  height: 30em;
  margin: 0;
/*  outline: 1px solid green;*/
}
.ocre{
  color:#BF7D14;
}